#entree {
    border-style: solid;
    border-color: turquoise;
    border-width: 4px;
}

#sidebar {
    border-style: solid;
    border-color: turquoise;
    border-width: 4px;
}

.pink {
    color: magenta;
}

@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #entree {
        width: 60%;
    }
    
    #sidebar {
        width: 40%;
    }
}